<h1>Welcome to WeatherApp</h1>
<p>Please sign up or log in to access the weather information.</p>

<%= link_to 'Sign Up', signup_path, class: 'btn btn-primary' %>
<br>
<%= link_to 'Log In', login_path, class: 'btn btn-secondary' %>
